body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 50vh;
  padding: 0 10px;
}

.graphs > h2 {
  text-align: center;
}

.graphs > div {
  border: 1px solid #eee;
  border-radius: 5px;
}

#info > pre {
  height: calc(50vh - 90px);
  overflow: auto;
  position: relative;
}
